{% extends 'base.html' %}
{% block content %}
<div class="d-flex align-items-center justify-content-center p-3 mb-2 bg-dark text-white">
  
  {% if user.is_authenticated %}
  <h1>{{ user.username }}'s To Do List</h1> 

  
    <p class="d-flex align-items-center justify-content-center"><a href="{% url 'logout' %}">Log Out</a></p>
    <form action="/addTodoItem/" method = "post">{% csrf_token %}
      <input type="text" name="content">
      <input type="submit" value="Add Todo Item">
    </form> 
    
    <ul>
      {% for i in all_items %} 
      <li>{{i.content}}
      </li>
      <form action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
          <input type="submit" value="Delete">
      </form>  
      {% endfor %}
  </ul> 
  {% else %}
    <p class="d-flex align-items-center justify-content-center p-3 mb-2 bg-dark text-white">You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
  {% endif %}
  {% endblock %}
</div>